.hp-wrapper {

    span,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p,
    div,
    a {
        padding: 0;
        margin: 0;
        line-height: 100%;
    }

    * {
        box-sizing: border-box;

        &:before,
        &:after {
            box-sizing: border-box;
        }
    }

    .image-container {
        overflow: hidden;
        position: relative;
    }

    .img-responsive {
        display: block;
        width: 100%;
        height: auto;
        overflow: hidden;
        transition: .25s ease-out all;
    }

    img {
        border: 0;
        vertical-align: middle;
    }

    a {
        background-color: transparent;

        &:active,
        &:hover {
            outline: 0;
        }

        text-decoration: none;

        &:hover {
            text-decoration: underline;

            .text-box__text {
                color: $dsgGreen !important;
            }
        }

        &:focus {
            text-decoration: underline;
            outline: 5px auto -webkit-focus-ring-color;
            outline-offset: -2px;
        }
    }

    video {
        width: 100%;
    }

    .clearfix {

        &:before,
        &:after {
            content: " ";
            display: table;
            clear: both;
        }
    }

    .scp-row {

        &:before,
        &:after {
            content: " ";
            display: table;
            clear: both;
        }
    }

    .hide {
        display: none !important;
    }

    .col-sm-1,
    .col-sm-2,
    .col-sm-3,
    .col-sm-4,
    .col-sm-5,
    .col-sm-6,
    .col-sm-7,
    .col-sm-8,
    .col-sm-9,
    .col-sm-10,
    .col-sm-11,
    .col-sm-12 {
        position: relative;
        min-height: 1px;
    }

    @include breakpoint($mobile) {

        .hidden-xs {
            display: none !important;
        }

        // [class*=col] {
        //     padding: 0;
        //     width: 100%;
        // }

        // [class*=col]+[class*=col] {
        //     margin-top: 0;
        // }

    }

    @include breakpoint($desktop) {

        .visible-xs {
            display: none !important;
        }

        // [class*=col]+[class*=col] {
        //     margin: 0;
        // }

        .col-sm-1,
        .col-sm-2,
        .col-sm-3,
        .col-sm-4,
        .col-sm-5,
        .col-sm-6,
        .col-sm-7,
        .col-sm-8,
        .col-sm-9,
        .col-sm-10,
        .col-sm-11 {
            float: left;
        }

        .col-sm-12 {
            width: 100%;
        }

        .col-sm-11 {
            width: 91.66666667%;
        }

        .col-sm-10 {
            width: 83.33333333%;
        }

        .col-sm-9 {
            width: 75%;
        }

        .col-sm-8 {
            width: 66.66666667%;
        }

        .col-sm-7 {
            width: 58.33333333%;
        }

        .col-sm-6 {
            width: 50%;
            padding: 0 2rem;
        }

        .col-sm-5 {
            width: 41.66666667%;
        }

        .col-sm-4 {
            width: 33.33333333%;
            padding: 0 2rem;
        }

        .col-sm-3 {
            width: 25%;
        }

        .col-sm-2 {
            width: 16.66666667%;
        }

        .col-sm-1 {
            width: 8.33333333%;
        }

    }
}