@import 'manifest';

#page {
    overflow-x: hidden;
}

// All custom styling should go here...
// BB Mobile
#static-page {
    padding: 0;
}

.contentRecommendationWidget_HomeRow1_Content {
    margin: 0 !important;
}

.nj-wrapper {
    padding: 0;
    margin-bottom: 2rem;
    overflow-x: hidden;
    max-width: 100vw;

    * {
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }

    @each $item in $border-colors {
        .#{$item}-border {
            border: solid 1px $item;
        }

        // .#{$item}-overlay {
        //     background: rgba(rgb($item), .5);
        // }
    }

    @for $x from 1 through 100 {
        .plus-top-vw-margin#{$x} {
            margin-top: #{$x}vw !important;

            @media ($desktop-xlarge) {
                margin-top: calc(#{$x}/100 * 2000px) !important;
            }
        }

        .plus-left-vw-margin#{$x} {
            margin-left: #{$x}vw !important;

            @media ($desktop-xlarge) {
                margin-left: calc(#{$x}/100 * 2000px) !important;
            }
        }

        .minus-top-vw-margin#{$x} {
            margin-top: -#{$x}vw !important;

            @media ($desktop-xlarge) {
                margin-top: calc(#{$x}/100 * -2000px) !important;
            }
        }

        .minus-left-vw-margin#{$x} {
            margin-left: -#{$x}vw !important;

            @media ($desktop-xlarge) {
                margin-left: calc(#{$x}/100 * -2000px) !important;
            }
        }

        .plus-top-vw-margin#{$x}-donly {
            @media ($desktop) {
                margin-top: #{$x}vw !important;
            }

            @media ($desktop-xlarge) {
                margin-top: calc(#{$x}/100 * 2000px) !important;
            }
        }

        .plus-left-vw-margin#{$x}-donly {
            @media($desktop) {
                margin-left: #{$x}vw !important;
            }

            @media ($desktop-xlarge) {
                margin-left: calc(#{$x}/100 * 2000px) !important;
            }
        }

        .minus-top-vw-margin#{$x}-donly {
            @media ($desktop) {
                margin-top: -#{$x}vw !important;
            }

            @media ($desktop-xlarge) {
                margin-top: calc(#{$x}/100 * -2000px) !important;
            }
        }

        .minus-left-vw-margin#{$x}-donly {
            @media ($desktop) {
                margin-left: -#{$x}vw !important;
            }

            @media ($desktop-xlarge) {
                margin-left: calc(#{$x}/100 * -2000px) !important;
            }
        }

        .plus-top-vw-margin#{$x}-monly {
            @media ($mobile) {
                margin-top: #{$x}vw !important;
            }
        }

        .plus-left-vw-margin#{$x}-monly {
            @media ($mobile) {
                margin-left: #{$x}vw !important;
            }
        }

        .minus-top-vw-margin#{$x}-monly {
            @media ($mobile) {
                margin-top: -#{$x}vw !important;
            }
        }

        .minus-left-vw-margin#{$x}-monly {
            @media ($mobile) {
                margin-left: -#{$x}vw !important;
            }
        }
    }

    .container {
        width: 100%;
        max-width: 2000px;
        margin: 0 auto;
        padding: 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        overflow: overlay;
        min-height: 100px;
        height: auto;
        min-height: 100px;

        &--md {
            max-width: 1680px;
        }

        &--sm {
            width: 90%;
            max-width: 960px;
        }

        &--padded {
            width: 100%;
        }
    }

    .column {
        @for $i from 1 through $column-layout-max {
            &--#{$i}m {
                @media ($mobile) {
                    @include column-width($i, $column-gap);
                    margin-left: auto;
                    margin-right: auto;

                    &.solitary {
                        @include column-margins($i);
                    }

                    &:not(.remove-padding):not(.remove-padding-m) {
                        padding: 0 $column-gap;
                    }
                }
            }

            &--#{$i}d {
                @media ($desktop) {
                    @include column-width($i, $column-gap);
                    margin-left: auto;
                    margin-right: auto;

                    &.solitary {
                        @include column-margins($i);
                    }

                    &:not(.remove-padding):not(.remove-padding-d) {
                        padding: 0 $column-gap;
                    }
                }
            }
        }
    }

    .scp-row {
        margin-bottom: 2rem;
        margin-left: auto;
        margin-right: auto;
        display: flex;
        flex-wrap: wrap;
        position: relative;

        @media($mobile) {
            margin-bottom: 1rem;
        }

        &--no-margin {
            margin: 0;
        }

        .inner-row {
            display: block;
            margin: 5rem 0;
        }

        &#flashSaleInsert {
            margin-bottom: 1rem;
        }

        .main {
            width: 100%;
        }

        .col-sm-12 {
            width: 100%;
        }
    }



    .debug-overlay {
        position: absolute;
        top: 0;
        left: 0;
        background: blue;
        color: lightgrey;
        text-transform: uppercase;
        z-index: 100;
        padding: 1vw;
        font-size: 1vw;
        font-family: 'Roboto', sans-serif;
        opacity: .3;

        &:hover {
            opacity: 1;
        }
    }

    .debug-feature-overlay {
        position: absolute;
        bottom: 50%;
        right: 0;
        background: grey;
        color: lightgrey !important;
        text-transform: uppercase;
        z-index: 100;
        padding: 1vw;
        font-size: 1vw;
        font-family: 'Roboto', sans-serif;
        opacity: .8;
        width: 100%;
        text-align: center;
        word-break: break-word;

        &:hover {
            opacity: 1;
        }
    }

    .flex-box {
        display: flex;
        justify-content: center;

        &--column {
            flex-direction: column;
        }

        &--wrap {
            flex-wrap: wrap;
        }
    }

    .sr-only {
        width: 1px;
        height: 1px;
        overflow: hidden;
    }

    .no-margin {
        margin-top: 2rem !important;
    }

    .no-bottom-margin {
        margin-bottom: 0 !important;
    }

    .no-text-transform {
        text-transform: none !important;
    }

    .text-box {
        font-size: 14px;
        text-align: center;

        sup {
            vertical-align: 40%;
            font-size: 7.7px !important;
        }

        &__text {
            color: $dsgDarkGray;
            font-family: $fontDINMedium;
            position: relative;
            text-transform: uppercase;
            z-index: 1;

            &.no-background {
                background: transparent;
            }

            &.all-caps {
                text-transform: uppercase !important;
            }

            &--heading {
                font-family: $fontDSGBold !important;
                line-height: .9em;
            }

            &--x-large {
                font-size: 4.8em;

                @media($mobile) {
                    font-size: 2.8rem;
                }
            }

            &--medium-large {
                font-size: 2.7em;
                font-family: $fontDSGUltra !important;

                @media($mobile) {
                    font-size: 7vw;
                }
            }

            &--large {
                font-size: 1.8em;

                @media($mobile) {
                    font-size: 1.3rem;
                }
            }

            &--medium {
                font-size: 1.5em;
                font-family: $fontDINMedium;

                @media($mobile) {
                    font-size: 4vw;
                }
            }

            &--small {
                font-size: 1.2em;
                font-family: $fontDINLight;

                @media($mobile) {
                    font-size: 1.1rem;
                }
            }

            &--x-small {
                font-size: 1em;
                font-family: $fontDINLight;

                @media($mobile) {
                    font-size: .7rem;
                }
            }

            &--inline {
                display: inline-block;
            }

            &--light {
                font-family: $fontDINLight !important;
            }

            &--medium {
                font-family: $fontDINMedium !important;
            }

            &--bold {
                font-family: $fontDSGBold !important;
            }

            &--DSGSansThin {
                font-family: $fontDSGThin !important;
            }

            &--DSGMedium {
                font-family: $fontDSGMedium !important;
            }
        }

        &--section-header {
            margin: 2% 0 2%;
            position: relative;

            &:before {
                content: '';
                position: absolute;
                top: 50%;
                height: 1px;
                width: 100%;
                background: #333;
                z-index: 0;
                left: 0;
            }

            @media($mobile) {
                display: block;
                text-align: center;
            }
        }

        &--details {
            margin: 2rem 0;

            p {
                text-transform: uppercase;
                font-family: $fontDINLight;
                color: #333;
                line-height: 115%;

                &:first-child {
                    font-family: $fontDSGBold;
                }
            }

            @media all and (-ms-high-contrast: none),
            (-ms-high-contrast: active) {
                margin: 1rem 0;
                display: flex;
                flex-direction: column;
            }
        }

        &--mobile-visible {
            display: block;
        }
    }

    .width-full {
        width: 100%;
    }

    .width-medium {
        @media($desktop) {
            margin-left: auto;
            margin-right: auto;
            width: 89%;

            .col-sm-11 {
                width: 100%;
            }
        }
    }

    .width-slim {
        @media($desktop) {
            margin-left: auto;
            margin-right: auto;
            width: 67%;

            .col-sm-11 {
                width: 100%;
            }
        }
    }

    .width-halfmax {
        @media($desktop) {
            margin-left: auto;
            margin-right: auto;
            width: calc(50% - 2rem);
        }

        width: 100%;
    }

    .hover-item {
        display: block;
        overflow: hidden;
        position: relative;

        .img-responsive {
            transform: scale(1);
        }

        @media #{$hover} {
            &:hover {
                .img-responsive {
                    transform: scale(1.05);
                }

                .details {
                    opacity: 1;

                    .inner {
                        bottom: 0;
                        opacity: 1;

                        .text-box {
                            &__text {
                                color: $white !important;
                            }
                        }
                    }
                }
            }
        }

        .details {
            background: rgba($dsgDarkGray, .9);
            bottom: 0;
            display: block;
            flex-direction: row;
            left: 0;
            opacity: 0;
            position: absolute;
            top: 0;
            right: 0;
            transition: .5s linear;
            z-index: 2;

            .inner {
                bottom: -100%;
                display: flex;
                flex-direction: row;
                height: 100%;
                justify-content: center;
                opacity: 0;
                position: absolute;
                transition: $base-transition;
                width: 100%;

                .header-action {
                    box-sizing: border-box;
                    display: flex;
                    flex: 1;
                    flex-direction: column;
                    height: 100%;
                    justify-content: center;
                    padding: 0 5%;
                    position: relative;
                }
            }

            .text-box {
                &__text {
                    background: transparent;
                    color: $white;
                    transition: $base-transition;
                }
            }
        }
    }

    .text {

        &__critical,
        &__critical * {
            color: $dsgGreen !important;

            :before {
                background: $dsgGreen;
            }

            &:hover:not(.details) {
                color: $dsgGreen !important;

                *,
                *:hover {
                    color: $dsgGreen !important;
                }
            }

            .details {
                color: white !important;

                .inner {
                    color: white !important;

                    .text-box {
                        color: white !important;

                        &__text {
                            color: white !important;

                            sup {
                                color: white !important;
                            }
                        }
                    }
                }
            }
        }
    }

    .underline {
        text-decoration: underline;
    }
}

@media ($desktop-large) {
    .nj-wrapper {
        .container--padded {
            width: 80%;
            margin: auto;
        }
    }
}

@media($mobile) {
    .nj-wrapper {
        margin-top: 1rem;

        [class*=col]+[class*=col] {
            overflow: auto;
        }
    }
}