@import 'helpers/reset';
@import './fonts/stylesheet.css';
@import 'helpers/vars';
@import 'helpers/mixins';
@import 'helpers/generics';

body, html {
    font-size: 10px;
    height: 101%;
}

body {
    background: #000000 url('https://i.imgur.com/JiYLuj2.png');
}

p {
    line-height: 1.9;
    font-family: $lato;
    font-weight: 400;
    margin: 0 0 20px;
    font-size: 1.6rem;
}

h1, h2, h3, h4, h5, h6 {
    font-family: $bebas;
    font-weight: 700;
}

h1 {
    font-size: 6rem;
    line-height: 1;
}

ul, ol {
    font-family: $lato;
    margin: 0 0 20px;
}

li {
    font-size: 1.6rem;
    line-height: 1.9;
    list-style-type: disc;
    list-style-position: inside;
}

strong {
    font-family: $bebas;
    font-weight: 700;
}

strong {
    font-family: "DIN Medium",sans-serif;
}

a {
    color: $green;
    text-decoration: none;

    a:hover {
        text-decoration: none;
    }
}

i {
    font-style: normal;
}

section {
    border-bottom: 2px solid $blue;
    padding: 40px;
}

@import 'mini/logo';
@import 'mini/arrows';

@import 'partials/introduction';
@import 'partials/intro';
@import 'partials/header';
@import 'partials/other';
@import 'partials/footer';
@import 'partials/seriesBlocks';
@import 'partials/extraInnings';
@import 'partials/locations';
@import 'partials/portfolio';
@import 'partials/threeRowWLink';
