@import 'helpers/reset';
@import 'helpers/vars';
@import 'helpers/mixins';
@import 'helpers/generics';

body, html {
    font-size: 10px;
    height: 101%;
}

body {
    background: #000000 url('https://i.imgur.com/JiYLuj2.png');
}

p {
    line-height: 1.9;
    font-family: $lato;
    font-weight: 400;
    margin: 0;
    font-size: 1.6rem;
}

h1, h2, h3, h4, h5, h6 {
    font-family: $bebas;
}

h1 {
    font-size: 6rem;
    line-height: 1;
}

ul {
    font-family: $lato; 
}

li, ol {
    font-size: 1rem;
    line-height: 1;

    @media (min-width: 769px) {
        font-size: 1.3rem;
    }
}

strong {
    font-family: "DIN Medium",sans-serif;
}

a {
    color: $green;
    text-decoration: none;

    a:hover {
        text-decoration: none;
    }
}

i {
    font-style: normal;
}

section {
    border-bottom: 2px solid $blue;
    padding: 40px 0;
}

@import 'mini/logo';

@import 'partials/intro';
@import 'partials/header';
@import 'partials/other';
@import 'partials/footer';
@import 'partials/seriesBlocks';
@import 'partials/extraInnings';
@import 'partials/locations';
@import 'partials/portfolio';
@import 'partials/threeRowWLink';
