@import 'manifest';

p {
    line-height: 1.6rem;
    font-family: "DIN Light",sans-serif;
}

ul {
    font-family: "DIN Light",sans-serif; 
}

li, ol {
    font-size: 1.3rem;
    line-height: 1;
}

h1, h2, h3, h4, strong {
    font-family: "DIN Medium",sans-serif;
}

a {
    font-family: "DIN Medium",sans-serif;
}