.--flex {
    display: flex;

    &.--column {
        flex-direction: column;
    }

    &.--between {
        justify-content: space-between;
    }
}


.fa, .fab, .fal, .far, .fas {
    font-family: FontAwesome;
}


.mobile {
    @media (min-width: 769px) {
        display: none;
    }
}

.desktop {
    display: none;

    @media (min-width: 769px) {
        display: block;
    }
}