.threeWithLink {
    width: 60%;
    margin: 0 auto;
    text-align: center;

    .rows {
        flex-direction: column;
        flex-wrap: nowrap;

        @media (min-width: 769px) {
            flex-direction: row;
        }

        .callout {
            text-align: center;
            width: 225px;
            border-bottom: 1px solid #c7c7c7;
            padding: 20px 0;

            &:last-child {
                border-bottom: 0;
            }

            @media (min-width: 769px) {
                border-right: 1px solid #c7c7c7;
                padding: 0 20px;

                &:first-child {
                    padding-left: 0;
                }

                &:last-child {
                    border-right: 0;
                }
            }
        }
    }
}