.logo {
    justify-content: center;
    align-items: center;
    max-width: 385px;
    margin: 0 auto;

    a {
        width: 55%;

        img {
            width: 100%;
        }
    }

    h3 {
        width: 45%;
        font-size: 15rem;
        color: #fff;
        line-height: 0;
    }
}