.logo {
    justify-content: center;
    align-items: center;
    max-width: 385px;
    height: 100px;
    margin: 0 auto;

    @media (min-width: 769px){
        height: 140px;
    }

    a {
        width: 55%;

        img {
            width: 100%;
        }
    }

    h3 {
        width: 45%;
        font-size: 12rem;
        color: #fff;
        line-height: 1;
        height: 100px;

        @media (min-width: 769px) {
            font-size: 15rem;
        }
    }
}