.logo {
    justify-content: center;
    align-items: center;

    a {
        width: 55%;

        img {
            width: 100%;
        }
    }

    h3 {
        width: 45%;
        font-size: 15rem;
        color: #fff;
        line-height: 0;
    }
}