.nj-wrapper {
	.deal-slider {
		background-color: rgba(255, 255, 255, 0.0);
		padding: 20px 0 0 0;
		width: 100%;
		margin: 0 auto;

		@media ($desktop) {
			margin-top: -6vw;
		}

		@media (min-width: 2000px) {
			margin-top: -140px;
		}

		&__track {
			position: relative;
			margin: 0 auto;
			display: flex;
			justify-content: center;
			flex-direction: row;
			flex-wrap: wrap;
			width: 100%;

			&.slick-initialized {
				display: block;
			}
		}

		&__arrow {
			background-color: $white;
			font-size: 30px !important;
			padding: 60px 15px;

			@media (max-width: 480px) {
				padding: 40px 5px;
			}

			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			transition: background-color .2s ease-in-out;
			z-index: 1;

			&--left {
				left: 0;
				box-shadow: 2px 1px 4px 1px rgba(0, 0, 0, 0.3);
			}

			&--right {
				right: 0;
				box-shadow: -2px 1px 4px 1px rgba(0, 0, 0, 0.3);
			}
		}

		&--certona {
			margin-bottom: 30px;
		}
	}
}