#fan-shop-new {
    position: relative;
    background: #333;
    padding: 0;

    @media ($mobile) {
        padding: 10px 0;
    }

    .img-responsive {
        margin: 0 auto;
        width: 90%;

        @media($mobile) {
            margin: auto;
            width: 100%;
        }
    }

    .fanShopCollection {
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin: 0 auto;
        position: relative;
        width: 75%;

        @media($mobile) {
            flex-direction: column;
            width: 100%;
        }

        .left {
            position: relative;

            @media ($desktop) {
                max-width: 60%;
            }

            @media #{$ie} {
                max-width: 55%;
            }

            .fan-shop-text-block {
                display: flex;
                flex-direction: column;
                justify-content: space-evenly;
                text-transform: uppercase;
                margin: 10px;
                position: relative;

                &__lastDay,
                &__addlMessage {
                    span {
                        font-size: 2.6vw;
                        font-family: $fontDINBold;
                        padding: 2px 15px;
                        margin: 5px;
                        line-height: 2vw;
                    }

                    &--rule {
                        display: none;
                    }

                    @media($desktop) {
                        width: 100%;
                        display: flex;
                        justify-content: center;

                        span {
                            font-size: 1vw;
                            font-family: $fontDINMedium;
                            margin-bottom: 0;
                            padding: 0 5px;
                        }

                        &--rule {
                            display: block;
                            height: 1px;
                            width: 15vw;
                            align-self: center;
                        }
                    }

                    @media($desktop-xlarge) {
                        span {
                            font-size: 20px;
                        }

                        &--rule {
                            width: 40%;
                        }
                    }
                }

                &__top {
                    font-size: 13vw;
                    font-family: $fontDSGBold;

                    &--collection {
                        display: none;

                        @media ($desktop) {
                            display: block;
                        }
                    }

                    @media($desktop) {
                        width: 100%;
                        font-family: $fontDSGMedium;
                        font-size: 3.5vw;
                        display: flex;
                        justify-content: center;

                        &--percent {
                            margin-right: .5vw;
                            font-family: $fontDSGBold;
                        }

                        &--collection {
                            margin-left: .5vw;
                        }
                    }

                    @media(min-width: 2000px) {
                        font-size: 76px;
                    }
                }

                &__code {
                    font-size: 4.5vw;
                    font-family: $fontDINBold;
                    height: auto;
                    padding: 5px 5px 10px;

                    a {
                        padding: 2px 15px;
                        margin: 5px;
                        font-size: inherit;

                        i {
                            font-size: 1.15em;
                            vertical-align: baseline;
                            float: none;
                            margin: 0;
                        }
                    }

                    @media ($desktop) {
                        font-size: 1vw;

                        a {
                            background: none !important;
                            color: inherit !important;
                        }
                    }
                }

                &__disclaimer {
                    font-family: $fontDINBold;
                    font-size: 2.4vw;
                    padding-top: 5px;

                    .details-link {
                        text-decoration: underline;
                        font-size: 1em;
                    }

                    @media ($desktop) {
                        font-size: .6vw;
                        font-family: $fontDINMedium;
                        align-self: center;
                        padding-top: 0;
                    }
                }

                @media($desktop) {
                    flex-direction: row;
                    flex-wrap: wrap;
                    justify-content: center;
                }
            }
        }

        .right {
            align-self: center;
            width: 50%;

            @media($mobile) {
                width: 100%;
                display: none;
            }

            .mobile-links {
                align-self: center;
                display: flex;
                justify-content: space-between;
                padding-bottom: 1rem;
                position: relative;
                width: 100%;

                @media($mobile) {
                    border-top: 1px solid #333;
                    display: block;
                    margin: 2rem 0 0;
                    text-align: center;
                    padding: 0;
                }

                a.link {
                    border: 1px solid #333;
                    box-sizing: border-box;
                    color: #333;
                    display: block;
                    font-family: $fontDINMedium;
                    margin-right: 1rem;
                    padding: .75rem 0;
                    position: relative;
                    width: 19%;

                    &.fanShop-multiCTA__single {
                        width: 100%;
                        padding: 2rem 0;
                        font-size: calc(4.5vw + 12px);

                        @media($mobile) {
                            border-left: 0;
                            border-right: 0;
                        }
                    }

                    &:last-child {
                        margin-right: 0;
                    }

                    @media($mobile) {
                        border: 0;
                        border-bottom: 1px solid #333;
                        display: inline-block;
                        font-size: 1.5rem;
                        font-family: $fontDINMedium;
                        margin: 0;
                        padding: 1rem 0;
                        text-align: center;
                        text-transform: uppercase;
                        width: 100%;
                    }

                    @media($desktop) {
                        &:nth-of-type(1n+6) {
                            display: none;
                        }
                    }
                }
            }
        }
    }

    &.two-column {
        $this-padding: 4%;

        @media($mobile) {
            .img-responsive {
                padding-left: $this-padding;
                padding-right: $this-padding;
            }

            .right {
                .mobile-links {
                    border-top: 0;
                    display: flex;
                    flex-direction: row;
                    flex-wrap: wrap; //padding-left: $this-padding;

                    //padding-right: $this-padding;
                    a.link {
                        border: 1px solid #333;
                        margin-bottom: 2%;
                        width: 48%;
                    }
                }
            }
        }
    }
}