.footer {
    position: relative;
    align-items: center;

    h4 {
        margin-top: 5px;
        color: #ffffff;
        font-size: 2rem;
    }

    .logo {
        width: 20%;
        margin-top: 80px;

        h3 {
            font-size: 7rem;
        }
    }

    .social {
        margin: 10px 0 0;
    }

    p.copy {
        margin: 30px 0 20px;
        font-size: 1.2rem;
        color: #ffffff;
    }
}