$base-transition: .25s ease-out all;
$disruptor-borders: 2px solid $white;

#headerBlock {
    display: flex;
    flex-direction: row;
    position: relative;
    justify-content: center;

    @media($mobile) {
        flex-direction: column;
        margin-bottom: 2rem;
    }

    @media all and (-ms-high-contrast: none),
    (-ms-high-contrast: active) {
        img {
            height: 100%;
        }
    }

    .btn {
        border-color: $white;
        color: $white;
        display: inline-block;
        margin: 0 auto;
        transition: $base-transition;
        width: auto;

        @media($mobile) {
            font-size: 2vw;
        }

        @media all and (-ms-high-contrast: none),
        (-ms-high-contrast: active) {
            width: 100%;
            max-width: 200px;
        }
    }

    .hover-item {
        .image-container {
            height: 100%;
            width: 100%;

            picture {
                width: 100%;
            }
        }

        &:hover {
            .img-responsive {
                transform: scale(1);
            }
        }
    }

    .main {
        position: relative;

        .btn {
            font-size: 1.8rem;

            @media($mobile) {
                font-size: 3vw;
            }
        }

        .details {
            .inner {
                .header-action {
                    &:not(:first-child) {
                        &:before {
                            border-left: 1px solid $white;
                            content: '';
                            left: 0;
                            height: 80%;
                            position: absolute;
                            top: 50%;
                            transform: translateY(-50%);
                        }
                    }

                    @media #{$hover} {
                        &:hover {
                            .btn {
                                background: $dsgGreen;
                                border-color: $dsgGreen;
                            }

                            .text-box__text {
                                color: $white !important;
                                text-shadow: 3px 3px rgba($dsgDarkGray, .8);
                            }
                        }
                    }
                }
            }
        }

        .fineprint {
            font-size: 1.2em;
            font-family: $fontDINMedium;
            text-align: center;
            width: 100%;
            color: #333;
            position: relative;
            padding: 5px 0;
        }
    }

    .disruptors {
        border-left: $disruptor-borders;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;

        @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
            //flex: 0.4;
            justify-content: space-between;
        }

        @media($desktop) {
            max-width: 22.5%;
        }

        @media($mobile) {
            flex-direction: column;
            margin-top: 15px;
        }

        &.multiple {
            .disruptor {
                border-top: $disruptor-borders;

                @media($mobile) {
                    width: 100%;
                }

                &:first-child {
                    border-top: 0;

                    @media($mobile) {
                        border-top: $disruptor-borders;
                        border-right: $disruptor-borders;
                        border-width: 1px;
                    }
                }

                @media($mobile) {
                    &:last-child {
                        border-left: $disruptor-borders;
                        border-width: 1px;
                    }
                }
            }
        }

        .disruptor {
            box-sizing: border-box;
            display: block;
            position: relative;
            width: 100%;

            &.hover-item {
                .inner {
                    box-sizing: border-box;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    padding: 0 .5vw;
                    position: relative;
                    width: 100%;

                    .cover-anchor {
                        bottom: 0;
                        left: 0;
                        position: absolute;
                        top: 0;
                        right: 0;
                        z-index: 2;
                    }
                }

                .ctas {
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    position: relative;

                    @media($mobile) {
                        flex-wrap: wrap;
                    }

                    .btn {
                        margin: 0 1rem;
                        z-index: 3;

                        @media($mobile) {
                            margin: 0 .2rem;
                        }
                    }
                }
            }
        }
    }
}