header {
    margin: 70px auto 0;
    text-align: center;

    h1 {
        margin: 10px 0 0;
    }

    h2, h4 {
        color: $white;
    }

    h2 {
        font-size: 5rem;
        line-height: 0.7;

        @media (min-width: 769px) {
            font-size: 7rem;
        }
    }

    h4 {
        font-size: 2rem;
        line-height: 2;
    }
}

.nav {
    flex-direction: row;
    text-align: center;
    margin: 0 auto;
    font-family: $bebas;
    border-top: 2px solid $blue;
    border-bottom: 2px solid $blue;
    padding: 10px 0;
    justify-content: space-between;

    li {
        font-size: 2.5rem;
        margin: 0 10px;

        img {
            width: 60px;
        }

        @media (min-width: 769px) {
            margin: 0 40px;
        }
    }
}

.fixed-nav {
    position: fixed;
    top: 0;
    width: 100%;
    background: #000000 url('https://i.imgur.com/JiYLuj2.png');
    z-index: 10;
}