@keyframes fade {
	0% {
		opacity: 0;
	}

	15% {
		opacity: 1;
	}

	33% {
		opacity: 1;
	}

	53% {
		opacity: 0;
	}

	100% {
		opacity: 0;
	}
}

@keyframes fadeShort {
	0% {
		opacity: 0;
	}

	20% {
		opacity: 1;
	}

	33% {
		opacity: 1;
	}

	53% {
		opacity: 0.8;
	}

	100% {
		opacity: 0;
	}
}

.FanShop-130252Body_Content .scp-wrapper {
	margin-top: -3%;
}

#hotMarketBanner,
#hotMarketBannerHome {
	display: flex !important;
	flex-direction: column;
	justify-content: center;
	position: relative;
}

#hotMarketBanner h2,
#hotMarketBannerHome h2,
#hotMarketBanner h3,
#hotMarketBannerHome h3 {
	text-transform: uppercase;
}

#hotMarketBanner h2,
#hotMarketBannerHome h2 {
	font-family: 'DSG Sans Bold', sans-serif;
	font-size: 8vw;
	line-height: 1;
	margin-top: 1rem;
	margin-bottom: 1rem;

	@media ($desktop) {
		font-size: 2.5vw;
	}

	@media(min-width: 2000px) {
		font-size: 50px;
	}
}

#hotMarketBanner h2 .teamHighlight,
#hotMarketBannerHome h2 .teamHighlight {
	font-family: 'DSG Sans Black', sans-serif;
}

#hotMarketBanner sup,
#hotMarketBannerHome sup {
	font-size: 60%;
}

#hotMarketBanner .italics,
#hotMarketBannerHome .italics {
	font-style: italic;
}

#hotMarketBanner .item,
#hotMarketBannerHome .item {
	box-sizing: border-box;
	display: inline-flex;
	flex-direction: row;
	position: relative;
}

#hotMarketBanner .pids,
#hotMarketBannerHome .pids {
	box-sizing: border-box;
	display: block;
	height: 22vw;
	position: relative;
	width: 100%;

	@media ($mobile) {
		height: 51vw;
	}
}



#hotMarketBanner .pids .pid,
#hotMarketBannerHome .pids .pid {
	animation-direction: normal;
	animation-iteration-count: infinite;
	animation-name: fadeShort;
	animation-timing-function: ease;
	bottom: 0;
	display: block;
	left: 50%;
	max-width: 100%;
	opacity: 0;
	position: absolute;
	transform: translateX(-50%);
}

#hotMarketBanner .pids .pid:first-child,
#hotMarketBannerHome .pids .pid:first-child {
	opacity: 1;
}


#hotMarketBanner .pids .pid,
#hotMarketBannerHome .pids .pid {
	max-height: 100%;
	max-width: none;
}

#hotMarketBanner .pids.pidCounts-1 .pid,
#hotMarketBannerHome .pids.pidCounts-1 .pid {
	animation-duration: 2s;
}

#hotMarketBanner .pids.pidCounts-1 .pid:nth-child(1),
#hotMarketBannerHome .pids.pidCounts-1 .pid:nth-child(1) {
	animation-delay: 0s;
}

#hotMarketBanner .pids.pidCounts-2 .pid,
#hotMarketBannerHome .pids.pidCounts-2 .pid {
	animation-duration: 4s;
}

#hotMarketBanner .pids.pidCounts-2 .pid:nth-child(1),
#hotMarketBannerHome .pids.pidCounts-2 .pid:nth-child(1) {
	animation-delay: 0s;
}

#hotMarketBanner .pids.pidCounts-2 .pid:nth-child(2),
#hotMarketBannerHome .pids.pidCounts-2 .pid:nth-child(2) {
	animation-delay: 2s;
}

#hotMarketBanner .pids.pidCounts-3 .pid,
#hotMarketBannerHome .pids.pidCounts-3 .pid {
	animation-duration: 12s;
	animation-name: fade;
}

#hotMarketBanner .pids.pidCounts-3 .pid:nth-child(1),
#hotMarketBannerHome .pids.pidCounts-3 .pid:nth-child(1) {
	animation-delay: 0s;
}

#hotMarketBanner .pids.pidCounts-3 .pid:nth-child(2),
#hotMarketBannerHome .pids.pidCounts-3 .pid:nth-child(2) {
	animation-delay: 4s;
}

#hotMarketBanner .pids.pidCounts-3 .pid:nth-child(3),
#hotMarketBannerHome .pids.pidCounts-3 .pid:nth-child(3) {
	animation-delay: 8s;
}

#hotMarketBanner .pids.pidCounts-4 .pid,
#hotMarketBannerHome .pids.pidCounts-4 .pid {
	animation-duration: 16s;
	animation-name: fade;
}

#hotMarketBanner .pids.pidCounts-4 .pid:nth-child(1),
#hotMarketBannerHome .pids.pidCounts-4 .pid:nth-child(1) {
	animation-delay: 0s;
}

#hotMarketBanner .pids.pidCounts-4 .pid:nth-child(2),
#hotMarketBannerHome .pids.pidCounts-4 .pid:nth-child(2) {
	animation-delay: 4s;
}

#hotMarketBanner .pids.pidCounts-4 .pid:nth-child(3),
#hotMarketBannerHome .pids.pidCounts-4 .pid:nth-child(3) {
	animation-delay: 8s;
}

#hotMarketBanner .pids.pidCounts-4 .pid:nth-child(4),
#hotMarketBannerHome .pids.pidCounts-4 .pid:nth-child(4) {
	animation-delay: 12s;
}

#hotMarketBanner .headToHead,
#hotMarketBannerHome .headToHead {
	display: block;
}

#hotMarketBanner .congrats,
#hotMarketBannerHome .congrats,
#hotMarketBanner .congratBanner,
#hotMarketBannerHome .congratBanner {
	display: none;
}

#hotMarketBanner .congratBanner,
#hotMarketBannerHome .congratBanner {
	background: #333;
	color: #fff;
	font-size: 1.1vw;
	margin: 0 auto 3rem;
	padding: 0.5rem 0;
	position: relative;
	text-transform: uppercase;
	transform: skew(-30deg);
	width: 80%;
}

#hotMarketBanner .congratBanner,
#hotMarketBannerHome .congratBanner {
	font-size: 3vw;
	margin: 0 auto 2rem;
	width: 75%;
}

#hotMarketBanner .congratBanner .bannerCopy,
#hotMarketBannerHome .congratBanner .bannerCopy {
	display: inline-block;
	position: relative;
	transform: skew(30deg);
}

#hotMarketBanner .teamLinks,
#hotMarketBannerHome .teamLinks {
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 0 8%;
	text-align: center;
	width: 50%;
}


#hotMarketBanner .teamLinks,
#hotMarketBannerHome .teamLinks {
	padding: 0 3% 2vw;
	width: 100%;
}

#hotMarketBanner .teamLinks .ctaSpots,
#hotMarketBannerHome .teamLinks .ctaSpots {
	display: block;
	position: relative;
}

#hotMarketBanner .teamLinks .ctaSpots .ctaButton,
#hotMarketBannerHome .teamLinks .ctaSpots .ctaButton {
	border: 1px solid #333;
	color: #333;
	display: inline-block;
	font-family: 'Roboto', sans-serif;
	font-size: 1.25vw;
	margin-bottom: 1vw;
	padding: 1rem 0;
	position: relative;
	text-decoration: none;
	text-transform: uppercase;
	transition: 0.25s all;
}

#hotMarketBanner .teamLinks .ctaSpots .ctaButton:hover,
#hotMarketBannerHome .teamLinks .ctaSpots .ctaButton:hover {
	background: #333;
	border-color: #fff;
	color: #fff;
}


#hotMarketBanner .teamLinks .ctaSpots .ctaButton,
#hotMarketBannerHome .teamLinks .ctaSpots .ctaButton {
	font-size: 3vw;
}

#hotMarketBanner .teamLinks .ctaSpots .champSeries,
#hotMarketBannerHome .teamLinks .ctaSpots .champSeries,
#hotMarketBanner .teamLinks .ctaSpots .worldSeries,
#hotMarketBannerHome .teamLinks .ctaSpots .worldSeries {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

#hotMarketBanner .teamLinks .ctaSpots .champSeries .ctaButton,
#hotMarketBannerHome .teamLinks .ctaSpots .champSeries .ctaButton {
	width: 48%;
}

#hotMarketBanner .teamLinks .ctaSpots .worldSeries .ctaButton,
#hotMarketBannerHome .teamLinks .ctaSpots .worldSeries .ctaButton {
	$cta_button_gap: 1.5rem;
	//min-width: calc(50% - #{$cta_button_gap * 2});
	min-width: 15vw;
	font-size: 1.5vw;
	margin-left: $cta_button_gap;
	margin-right: $cta_button_gap;
	padding: 1rem 2rem;
	width: auto;

	@media ($mobile) {
		margin: 1rem auto;
		font-size: 30px;
		min-width: 40vw;
	}
}

#hotMarketBanner.highlight h2,
#hotMarketBannerHome.highlight h2 {
	margin-bottom: 0;
}

#hotMarketBanner.highlight .headToHead,
#hotMarketBannerHome.highlight .headToHead {
	display: none;
}

#hotMarketBanner.highlight .congrats,
#hotMarketBannerHome.highlight .congrats,
#hotMarketBanner.highlight .congratBanner,
#hotMarketBannerHome.highlight .congratBanner {
	display: block;
}

#hotMarketBanner.highlight .teamLinks .ctaSpots .ctaButton,
#hotMarketBannerHome.highlight .teamLinks .ctaSpots .ctaButton {
	width: 70%;
}

#hotMarketBanner.sideBySide .item,
#hotMarketBannerHome.sideBySide .item {
	width: 50%;
}

#hotMarketBanner.sideBySide .item:nth-child(2),
#hotMarketBannerHome.sideBySide .item:nth-child(2) {
	flex-direction: row-reverse;
}

#hotMarketBanner.sideBySide .item:nth-child(2):before,
#hotMarketBannerHome.sideBySide .item:nth-child(2):before {
	border-left: 1px solid #333;
	content: '';
	left: 0;
	height: 80%;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	z-index: 1;
}


#hotMarketBanner.sideBySide .item,
#hotMarketBannerHome.sideBySide .item {
	width: 100%;
}

#hotMarketBanner.sideBySide .item:nth-child(2):before,
#hotMarketBannerHome.sideBySide .item:nth-child(2):before {
	border-top: 1px solid #333;
	left: 50%;
	height: 1px;
	top: 0;
	transform: translate(-50%, 0);
	width: 80%;
}

#hotMarketBanner.sideBySide h2,
#hotMarketBannerHome.sideBySide h2 {
	font-size: 2.5vw;
	margin-bottom: 0 !important;
}

#hotMarketBanner.sideBySide h2,
#hotMarketBannerHome.sideBySide h2 {
	font-size: 5vw;
}

#hotMarketBanner.sideBySide .pids,
#hotMarketBannerHome.sideBySide .pids {
	height: 13vw;
	width: 50%;
}

#hotMarketBanner.sideBySide .pids,
#hotMarketBannerHome.sideBySide .pids {
	height: auto;
}

#hotMarketBanner.sideBySide .pids .pid,
#hotMarketBannerHome.sideBySide .pids .pid {
	max-height: 100%;
	max-width: 100%;
	top: 50%;
	transform: translate(-50%, -50%);
}

#hotMarketBanner.sideBySide .congratBanner,
#hotMarketBannerHome.sideBySide .congratBanner {
	width: 75%;
}

#hotMarketBanner.sideBySide .congratBanner,
#hotMarketBannerHome.sideBySide .congratBanner {
	margin-bottom: 1rem;
	width: 90%;
}

#hotMarketBanner.sideBySide .congratBanner .bannerCopy,
#hotMarketBannerHome.sideBySide .congratBanner .bannerCopy {
	font-size: 2.3vw;
}

#hotMarketBanner.sideBySide .teamLinks,
#hotMarketBannerHome.sideBySide .teamLinks {
	padding: 0 2.5%;
	width: 50%;
}

#hotMarketBanner.sideBySide.banner h2,
#hotMarketBannerHome.sideBySide.banner h2 {
	font-size: 1.5vw;
}

#hotMarketBanner.sideBySide.banner h2,
#hotMarketBannerHome.sideBySide.banner h2 {
	font-size: 5vw;
}

#hotMarketBanner.sideBySide.banner .congratBanner,
#hotMarketBannerHome.sideBySide.banner .congratBanner {
	font-size: 0.5vw;
	margin: 0 auto 1rem;
}

#hotMarketBanner.sideBySide.banner .pids,
#hotMarketBannerHome.sideBySide.banner .pids {
	width: 40%;
}

#hotMarketBanner.sideBySide.banner .pids,
#hotMarketBannerHome.sideBySide.banner .pids {
	height: 20vw;
}

#hotMarketBanner.sideBySide.banner .teamLinks,
#hotMarketBannerHome.sideBySide.banner .teamLinks {
	width: 60%;
}

#hotMarketBanner.sideBySide.banner .ctaSpots .ctaButton,
#hotMarketBannerHome.sideBySide.banner .ctaSpots .ctaButton {
	font-size: 0.8vw;
}

#hotMarketBanner.sideBySide.banner .ctaSpots .ctaButton,
#hotMarketBannerHome.sideBySide.banner .ctaSpots .ctaButton {
	font-size: 2.5vw;
	width: 60%;
}

#hotMarketBanner.banner h2,
#hotMarketBannerHome.banner h2 {
	font-size: 2vw;
	margin-bottom: 1.5rem;
}

#hotMarketBanner.banner h2,
#hotMarketBannerHome.banner h2 {
	font-size: 8vw;
}

#hotMarketBanner.banner .teamLinks,
#hotMarketBannerHome.banner .teamLinks {
	padding: 0 2%;
}

#hotMarketBanner.banner .pid,
#hotMarketBannerHome.banner .pid {
	max-height: 100%;
	max-width: none;
}

#hotMarketBanner.banner .pids,
#hotMarketBannerHome.banner .pids {
	height: auto;
}

#hotMarketBanner.banner .pids,
#hotMarketBannerHome.banner .pids {
	height: 30vw;
}

#hotMarketBanner.banner .ctaSpots .ctaButton,
#hotMarketBannerHome.banner .ctaSpots .ctaButton {
	font-size: 1vw;
}

#hotMarketBanner.banner .ctaSpots .ctaButton,
#hotMarketBannerHome.banner .ctaSpots .ctaButton {
	font-size: 3vw;
}