.introduction {
    position: relative;
    align-items: center;
    height: 100vh;
    max-width: 800px;
    padding: 0 5%;

    .logo {
        max-width: none;
        width: 90%;
        padding: 0 5%;
        top: 20%;
        position: absolute;

        a {
            width: 500px;
        }
    }

    .top-info {
        top: 35%;
        position: absolute;

        @media (min-width: 769px) {
            top: 50%;
        }
    }

    h3 {
        width: 345px;
        font-size: 11rem;
        color: #fff;
        line-height: 0.8;

        @media (min-width: 769px) {
            font-size: 28rem;
        }
    }

    .arrow {
        top: 78%;

        span {
            display: block;
            font-family: $bebas;
            font-size: 4rem;
            border-top: 2px solid $blue;
            padding: 5px 0;
        }
    }
}