.introduction {
    position: relative;
    align-items: center;
    height: 100vh;
    max-width: 800px;
    padding: 0 5%;

    .logo {
        max-width: 375px;
        width: 90%;
        padding: 0 20px;
        height: 100px;

        a {
            width: 200px;
        }
    }

    .top-info {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    h3 {
        font-size: 11rem;
        color: #fff;
        margin: 0;
    }

    .arrow {
        position: relative;
        display: inline-block;
        margin-top: 20px; 

        span {
            display: block;
            font-family: $bebas;
            font-size: 4rem;
            border-top: 2px solid $blue;
            padding: 5px 0;
        }
    }
}