.intro {
    background: $white;
    padding: 20px;

    &.-home {
        background: $blue;
        padding: 20px;

        @media (min-width: 769px) {
            padding: 40px;
        }
    }

    h2 {
        font-size: 5rem;
        margin: 0 0 10px;

        span {
            color: $blue;
        }

        @media (min-width: 769px) {
            font-size: 8rem;
        }
    }

    h3 {
        font-size: 3rem;
        margin: 0 0 10px;

        @media (min-width: 769px) {
            font-size: 4rem;
        }
    }

    .about {
        margin-bottom: 20px;
        background: #fbfbfb;
        border: 2px solid #eaeaea;
        padding: 20px;
        flex-direction: column;

        &:last-child {
            margin-bottom: 0;
        }

        > div {
            width: 100%;

            img {
                margin-bottom: 20px;
                width: 100%;
            }

            &:last-child {
                width: 100%;

                @media (min-width: 769px) {
                    width: 55%;
                }
            }

            @media (min-width: 769px) {
                width: 35%
            }
        }

        @media (min-width: 769px) {
            padding: 40px;
            margin-bottom: 40px;
            flex-direction: row;
        }
    }

    &.story {
        background: $white;
    }

    @media (min-width: 769px) {
        padding: 40px;
    }
}