.others {
    background: #242424;
}

.other {
    flex-wrap: wrap;
    background: #242424;

    h3 {
        width: 100%;
        color: #ffffff;
        text-align: center;
        font-size: 3rem;
        padding: 0 0 20px;
    }

    div {
        width: 20%;

        img {
            width: 100%;
        }
    }

   
}