.others {
    background: #242424;
}

.other {
    flex-wrap: wrap;
    max-width: 650px;

    h3 {
        width: 100%;
        color: #ffffff;
        text-align: center;
        font-size: 3rem;
        padding: 0 0 20px;
    }

    div {
        text-align: center;

        img {
            height: 50px;
        }
    }

   
}