.portfolio {
    
    .port-piece {
        width: 45%;
    }

    .arrow {
        color: $green;
        background: #ffffff;
        display: flex;
        align-items: center;
        font-size: 5rem;
        padding: 0 10px;
    }

    .image {
        position: relative;

        img {
            width: 100%;
            height: 100%;
        }

        .greybg {
            background: rgba(0, 0, 0, 0.5);
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
        }

        h3 {
            position: absolute;
            background: #ffffff;
            color: $green;
            font-size: 4rem;
            padding: 10px 10px 7px;
            top: 50%;
            right: 50%;
            white-space: nowrap;
            transform: translate(50%,-50%);
        }
    }
    .port-piece {
        position: relative;
        display: flex;
        flex-direction: row;
    }
}