.portfolio {
    > div {
        flex-wrap: wrap;
        flex-direction: row;
    }

    &.--home {
        .port-piece {
            margin-bottom: 20px;
        }
    }
    
    .port-piece {
        width: 100%;
        margin-bottom: 20px;

        &:nth-child(7), &:nth-child(8) {
            margin-bottom: 0;
        }

        @media (min-width: 769px) {
            width: 45%;
            margin-bottom: 40px;
        }
    }

    .arrow {
        color: $green;
        background: #ffffff;
        align-items: center;
        font-size: 3rem;
        padding: 0 10px;
    }

    .image {
        position: relative;

        img {
            width: 100%;
            height: 100%;
        }

        .greybg {
            background: rgba(0, 0, 0, 0.5);
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
        }

        h3 {
            position: absolute;
            background: #ffffff;
            color: $green;
            font-size: 2.4rem;
            padding: 10px 10px 7px;
            top: 50%;
            right: 50%;
            white-space: nowrap;
            transform: translate(50%,-50%);

            @media (min-width: 769px) {
                font-size: 2rem;
            }
        }
    }

    .more-info {
        background: #ffffff;
        color: $green;
        top: 0;
        z-index: 2;
        height: 100%;
        left: 0;
        align-items: center;
        font-size: 3rem;
        padding: 0 10px;
    }

    .port-piece {
        position: relative;
        display: flex;
        flex-direction: row;
    }

    .close-button {
        display: none;
    }

    .information-drop {
        display: none;
        position: absolute;
        top: 0;
        background: $white;
        width: 100%;
        height: 100%;
        padding: 20px 30px 20px 10px;
        overflow-y: scroll;
        box-sizing: border-box;

        h3 {
            top: 0;
            left: 0;
            padding: 0;
            transform: none;
            position: relative;
            margin-bottom: 10px;
            border-bottom: 2px solid $blue;
            padding-bottom: 5px;
            font-size: 3rem;

            @media (min-width: 769px) {
                font-size: 2.6rem;
            }
        }

        h4 {
            font-size: 2.2rem;
            margin-bottom: 5px;

            @media (min-width: 769px) {
                font-size: 3rem;
            }
        }

        ul {
            list-style-position: inside;
            border-bottom: 2px solid $blue;
            padding-bottom: 5px;
            margin-bottom: 10px;

            li {
                list-style-type: disc;
                font-size: 1.4rem;
                padding: 5px 0;
                line-height: 1;

                @media (min-width: 769px) {
                    font-size: 1.6rem;
                }  
            }
        }

        p {
            line-height: 1.4;
            font-size: 1.4rem;
            margin-bottom: 10px;

            a {
                margin-top: 20px;
                background: $green;
                color: $white;
                padding: 10px;
                display: block;
                text-transform: uppercase;
                font-size: 1.1rem;

                i {
                    margin-left: 5px;
                }

                @media (min-width: 769px) {
                    font-size: 1rem;
                }

                @media (min-width: 1035px) {
                    font-size: 1.6rem;
                }
            }

            @media (min-width: 769px) {
                font-size: 1.6rem;
            }
        }
    }
}